/* navbar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background-color: turquoise;
}
nav .nav-items{
    list-style-type: none;
    display: flex;

}
nav .nav-item {
    padding-left: 0px;
    margin-top: 6rem;
}
.nav-item .nav-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-right: 4rem;
}
.social{
       display: flex;
       justify-content: space-around;
       align-items: center;
}
.social .soc-item{
    list-style-type: none;
    display: flex;
}
.soc-item .soc-link {
    text-decoration: none;
    padding-left: 1rem;
}
.logo-items {
    list-style-type: none;
}
i{
    font-size: 2rem;
}

.nav-item .nav-link:hover{
    color: black;
}
i:hover {
    margin-bottom: 15px;
    border-bottom-style:solid;
}
.page-header {
    position: relative;
  }
  
  .page-header h1 {
    position:fixed;
    top: 10px; */
    left: 0;
    margin-left: 21rem;
    color: white;
    font-size: 2rem;
    

  }
  img {
    width: 70px;
  }
